<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sysint" translate="label" sortOrder="999999">
            <label>SYSINT</label>
        </tab>
        <section id="elastic_logger" translate="label" type="text" sortOrder="10" showInDefault="1"
                 showInWebsite="0" showInStore="0">
            <label>Elastic Logger</label>
            <tab>sysint</tab>
            <resource>Sysint_ElasticLogger::menu</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="log_levels" translate="label comment" type="multiselect" sortOrder="11" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Log Levels</label>
                    <comment>Choose log types for send to elastic.</comment>
                    <source_model>\Sysint\ElasticLogger\Model\Source\LogLevels</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="host" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Host</label>
                    <comment>elasticsearch-host</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="port" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Port</label>
                    <comment>9200</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="username" translate="label comment" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Username</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="password" translate="label comment" type="obscure" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="index" translate="label comment" type="text" sortOrder="60" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Index</label>
                    <comment>logs-monolog-project-name</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
